:root {
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --bg-soft-violet: hsl(273, 75%, 66%);
    --bg-soft-blue: hsl(240, 73%, 65%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Mobile first - 375px*/

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px 'Kumbh Sans', sans-serif;
    background: linear-gradient(180deg, var(--bg-soft-violet), var(--bg-soft-blue));
    margin-top: 5rem;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    width: 80%;
    height: 82%;
    background: white;
    margin: 0 auto;
    border-radius: 20px;
    position: absolute;
    top: 20%;
}

.main__img {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -25%;
}
.img__mobile1 {
    width: 80%;
    
}

.img__mobile2 {
    position: relative;
    top: -50%;
}

.img__box {
    display: none;
}

.content {
    width: 80%;
    height: auto;
    max-height: 90%;
    margin: 0 auto;
    margin-top: -3rem;
}

.content__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 2rem;
}

.detail {
    width: 100%;
    height: 10%;
    max-height: 20%;
    margin: 0.4rem 0;
}

.detail[open] {
    font-weight: 700;
}

.detail__summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: var(--very-dark-grayish-blue);
    font-size: 0.75rem;
    margin: 0.5rem 0;    
    list-style-type: none;
}

.summary__arrow {
    width: 10px;
    height: 7px;
}

.detail__paragraph {
    font-size: 0.75rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
}

hr {
    width: 100%;
    color: var(--light-grayish-blue);
    opacity: 0.2;
}

.attribution { 
    font-size: 0.75rem; 
    text-align: center; 
    color: white; 
    position: relative;
    top: 40%;
}

.attribution a { 
    color: var(--soft-red);
    text-decoration: none;
}

/*Desktop*/

@media screen and (min-width: 768px){
    main {
        width: 40%;
        height: 80%;
    }
}

@media screen and (min-width: 1280px){
    main {
        display: flex;
        align-items: center;
        width: 70%;
        height: 80%;
        top: 10%;
        background: white url(/images/bg-pattern-desktop.svg) no-repeat;
        background-position: top 60% left 800%;
    }

    img {
        width: 100%;
    }

    .main__img {
        width: 50%;
        height: 100%;
        position: static;
        background: url(/images/illustration-woman-online-desktop.svg) no-repeat;
        background-position: top 70% left 300%;
    }

    .img__mobile1, .img__mobile2 {
        display: none;
    }

    .img__box {
        display: inline;
        width: 40%;
        position: relative;
        bottom: -47%;
        left: -49%;
    }

    .content {
        width: 50%;
        max-height: 100%;
        margin: 0 auto;
        padding: 0 4rem;        
    }

    .content__title {
        text-align: left;
    }
    
    .detail {
        margin: 0.7rem 0;
    }

    .detail__summary {
        font-size: 0.9rem;
    }
    
    .summary__arrow {
        width: 11px;
        height: 7px;
    }
    
    .detail__paragraph {
        font-size: 0.8rem;
    }

    /*Hover*/
    .detail__summary:hover {
        color: var(--soft-red);
        cursor: pointer;
    }

    .attribution { 
        font-size: 1rem; 
        top: 30%;
    }

    .attribution a:hover {
        font-weight: 700;
        cursor: pointer;
    }
}

@media screen and (min-width: 1440px){
    main {
        background-position: top 65% left -1360%;
    }

    .main__img {
        background-position: top 35% left -250%;
    }

    .img__box {
        width: 40%;
        bottom: -36%;
        left: -49%;
    }

    .content__title {
        font-size: 2rem;
    }

    .detail__summary{
        font-size: 1rem;
    }

    .detail__paragraph {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1920px){
    main {
        background-position: top 60% left -100%;
    }

    .main__img {
        background-position: top 50% left -30%;
    }

    .img__box {
        width: 35%;
        bottom: -40%;
        left: -49%;
    }

    .content {
        padding: 0 5.5rem;        
    }

    .content__title {
        font-size: 2.5rem;
    }

    .detail__summary{
        font-size: 1.4rem;
    }

    .detail__paragraph {
        font-size: 1.2rem;
    }

    .attribution { 
        font-size: 1.5rem; 
        top: 35%;
    }
}






















/*Animação da seta*/
@keyframes arrow {
    0%{
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

.is-animating {
    animation: arrow 1s;
}

.active {
    transform: rotate(180deg);
}
/**/




